<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @parte_cuerpo.nombre %>
</p>

<%= link_to 'Edit', edit_parte_cuerpo_path(@parte_cuerpo) %> |
<%= link_to 'Back', parte_cuerpos_path %>
